<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>

    <% include meta.html %>

</head>
<body>
<input id="uid" value="<%= list._id %>" type="hidden"/>
<input type="text" id="title" value="<%= list.title %>"/><br />

<textarea id="content" cols="30" rows="10"><%= list.content %></textarea><br />
<label>
    tags: 多个以逗号(,)隔开
    <input type="text" id="tagName" value="<%= list.tagName.join(',') %>" />
</label><br />
<input type="submit" value="submit" id="submit" />



<script>

    $('#submit').on('click', function (){
        var title = $('#title').val()
        var content = $('#content').val()
        var tagName = $('#tagName').val()
        var d = {
            uid: $('#uid').val(),
            title: title,
            content: content,
            tagName: tagName
        }
        $.post('/admin/edit',d, function (data) {
            console.log(data)
        })

    })



</script>
</body>
</html>