<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Reg</title>

    <% include meta.html %>

</head>
<body>

<input type="text" id="username"  />
<input type="password" id="password"  />
<input type="text" id="email"/>
<input type="submit" value="submit" id="submit" />


<script>

    $('#submit').on('click', function () {
        var username = $('#username').val()
        var password = $('#password').val()
        var email = $('#email').val()
        var d = {
            username: username,
            password: password,
            email: email
        }

        $.post('/reg',d, function (data) {
            console.log(data)
        })

    })

</script>

</body>
</html>