<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <% include meta.html %>

</head>
<body>

<input type="text" id="username"/>
<input type="password" id="password"/>
<input type="submit" id="submit" value="submit"/>


<script>

    $('#submit').on('click', function () {

        var username = $('#username').val()
        var password = $('#password').val()
        var d = {
            username: username,
            password: password
        }
        $.post('/login', d, function (data) {
            console.log(data)
        })

    })

</script>

</body>
</html>